<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Jesse Zhang</title>

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Karma:300|Roboto">
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
	<div class="container">
@@include("pieces/contact.html")
@@include("pieces/menu.html")
@@include("slides/about.html")
@@include("slides/education-cornell.html")
@@include("slides/skills.html")
@@include("slides/work-tapad.html")
@@include("slides/work-corning.html")
@@include("slides/work-campusamp.html")
@@include("slides/projects-opensource.html")
@@include("slides/volunteer.html")
	</div>
	
	<script type="text/javascript" src="js/libs/jquery.js"></script>
	<script type="text/javascript" src="js/app/app.js"></script>
</body>
</html>