<div class="menu-container">
	<div class="menu">
		<ul>
			<li class="menu-item-about">
				<a href="#about">About Me</a>
			</li>
			<li class="menu-item-education-cornell">
				<a href="#education-cornell">Education</a>
			</li>
			<li class="menu-item-skills">
				<a href="#skills">Skills</a>
			</li>
			<li class="menu-item-work-tapad">
				<a href="#work-tapad">Tapad</a>
			</li>
			<li class="menu-item-work-corning">
				<a href="#work-corning">Corning</a>
			</li>
			<li class="menu-item-work-campusamp">
				<a href="#work-campusamp">Campusamp</a>
			</li>
			<li class="menu-item-projects-opensource">
				<a href="#projects-opensource">Projects</a>
			</li>
			<li class="menu-item-volunteer">
				<a href="#volunteer">Volunteer</a>
			</li>
		</ul>
	</div>
</div>