<div id="about" class="slide">
	<div class="layer layer-bg">
		<div class="bg" style="background-image: url(assets/bg/about.jpg)"></div>
	</div>
	<div class="layer layer-2">
		<div class="slide-heading text-white">
			Jesse Zhang
			<div class="font-size-40">
				Engineer &amp; Web Developer
			</div>
		</div>
	</div>
	<div class="layer layer-6">
		<div class="content-box content-box-light text-center">
			<div class="text-left font-size-20" style="max-width:65vw">
				Experienced and well-rounded web application developer with a thorough understanding of frontend and backend development through hands-on experience. Can multitask and work on multiple projects concurrently and prioritize accordingly. Always utilizing and experimenting with new technology such as AngularJS, Gulp.JS, Node.JS, HTML5, CSS3, and MongoDB.
			</div>
		</div>
	</div>
</div>