<div id="education-cornell" class="slide">
	<div class="layer layer-bg">
		<div class="bg" style="background-image: url(assets/bg/cornell-blur.jpg)"></div>
	</div>
	<div class="layer layer-2">
		<div class="slide-heading">Education</div>
	</div>
	<div class="layer layer-6">
		<div class="content-box text-center">
			<img src="assets/images/cornell.png" style="max-width: 80vw" />
			<div class="heading font-size-24">
				August 2009 - December 2013
			</div>
			<div class="heading font-size-32">
				<b>Applied and Engineering Physics</b>
			</div>
			<div class="heading font-size-24">
				Master of Engineering Degree, 4.0
				<br/>
				Bachelor of Science Degree in Engineering, 4.0
			</div>
			<div>
				<i>Summa Cum Laude, Dean’s List, Co-op Student Distinguished Honor</i>
			</div>

			<br/>

			<table>
				<tr>
					<td>Finance</td>
					<td>Financial Accounting</td>
				</tr>
				<tr>
					<td>Statistical Thermodynamics</td>
					<td>Mathematical Physics</td>
				</tr>
				<tr>
					<td>Computational Engineering Physics</td>
					<td>Computerized Instrumentation Design</td>
				</tr>
				<tr>
					<td>Quantum and Nonlinear Optics</td>
					<td>Lasers and Optoelectronics</td>
				</tr>
				<tr>
					<td>Continuum Physics</td>
					<td>Mathematical Methods of Physical Chemistry</td>
				</tr>
				<tr>
					<td>Physics of Renewable Energy</td>
					<td>Semiconductor Physics</td>
				</tr>
			</table>
		</div>
	</div>
</div>