<div id="projects-opensource" class="slide">
	<div class="layer layer-bg">
		<div class="bg" style="background-image: url(assets/bg/opensource-blur.jpg)"></div>
	</div>
	<div class="layer layer-2">
		<div class="slide-heading text-white">Projects</div>
	</div>
	<div class="layer layer-6">
		<div class="content-box text-center">
			<div class="heading font-size-40">
				Open Source
			</div>
			<ul class="inline">
				<li><a href="https://github.com/jessezhang91/equations.js" target="_blank">equations.js</a></li>
				<li><a href="https://github.com/jessezhang91/units.js" target="_blank">units.js</a></li>
				<li><a href="https://github.com/Tapad/gulp-angular-builder" target="_blank">gulp-angular-builder</a></li>
				<li><a href="https://github.com/Tapad/gulp-less-variables" target="_blank">gulp-less-variables</a></li>
			</ul>
		</div>
	</div>
</div>