<div id="skills" class="slide">
	<div class="layer layer-bg">
		<div class="bg" style="background-image: url(assets/bg/skills.png)"></div>
	</div>
	<div class="layer layer-2">
		<div class="slide-heading text-white">Skills</div>
	</div>
	<div class="layer layer-6">
		<div class="content-box content-box-light text-center">
			<div class="heading font-size-40">
				Expertise
			</div>
			<div class="text-left" style="max-width:50vw">
				Web Development, RESTful API, Application Development, Numerical Modeling, Data Visualization, Scripting and Automation
			</div>

			<br/>

			<div class="heading font-size-40">
				Languages
			</div>
			<div class="text-left" style="max-width:50vw">
				<span class="heading font-size-20"><b>Experienced</b></span> Javascript, HTML 5, CSS 3, PHP, SQL, MATLAB, Actionscript 3, LaTeX
			</div>
			<div class="text-left" style="max-width:50vw">
				<span class="heading font-size-20"><b>Proficient</b></span> C++, Python, Shell Scripting
			</div>

			<br/>

			<div class="heading font-size-40">
				Software
			</div>
			<div class="text-left" style="max-width:50vw">
				<span class="heading font-size-20"><b>Experienced</b></span> Node.JS, MySQL, MongoDB, MATLAB, PuTTY, ANSYS Workbench, COMSOL, Mathematica
			</div>
			<div class="text-left" style="max-width:50vw">
				<span class="heading font-size-20"><b>Proficient</b></span> Apache, MinGW, Microsoft Visual Studio, nginx
			</div>
		</div>
	</div>
</div>