<div id="skills" class="slide">
	<div class="layer layer-bg">
		<div class="bg" style="background-image: url(assets/bg/skills.png)"></div>
	</div>
	<div class="layer layer-2">
		<div class="slide-heading text-white">Skills</div>
	</div>
	<div class="layer layer-6">
		<div class="content-box content-box-light text-center">
			<div class="heading font-size-40">
				Expertise
			</div>
			<div class="text-left" style="max-width:50vw">
				Web Development, RESTful API, Application Development, Data Visualization, Numerical Modeling, Scripting and Automation
			</div>

			<br/>

			<div class="heading font-size-40">
				Languages
			</div>
			<div class="text-left" style="max-width:50vw">
				Javascript, HTML 5, CSS 3, SQL, MATLAB, LaTeX, Bash
			</div>

			<br/>

			<div class="heading font-size-40">
				Software
			</div>
			<div class="text-left" style="max-width:50vw">
				Node.JS, MySQL, MongoDB, git, MATLAB, Mathematica, ANSYS Workbench, COMSOL
			</div>

			<br/>

			<div class="heading font-size-40">
				Frameworks and Libraries
			</div>
			<div class="text-left" style="max-width:50vw">
				AngularJS, D3.js, jQuery, lodash, Bootstrap
			</div>
		</div>
	</div>
</div>
