<div id="volunteer" class="slide">
	<div class="layer layer-bg">
		<div class="bg" style="background-image: url(assets/bg/volunteer-blur.jpg)"></div>
	</div>
	<div class="layer layer-2">
		<div class="slide-heading">Volunteer Experience</div>
	</div>
	<div class="layer layer-6">
		<div class="content-box content-box-light text-center">
			<div class="heading font-size-40">
				Alternatives FCU
			</div>
			<div class="heading font-size-24">
				January 2009 - April 2012
			</div>
			<ul>
				<li>Certified Tax Preparer by VITA</li>
				<li>Prepared federal and state tax returns for low income households</li>
			</ul>
		</div>
	</div>
</div>