<div class="slide">
	<div class="layer layer-bg">
		<div class="bg" style="background-image: url(assets/bg/corning-blur.png)"></div>
	</div>
	<div class="layer layer-2">
		<div class="slide-heading">Work History</div>
	</div>
	<div class="layer layer-6">
		<div class="content-box text-center">
			<img src="assets/images/corning.png" style="max-width: 80vw" />
			<div class="heading font-size-24">
				January 2012 to December 2013
			</div>
			<div class="heading font-size-32">
				<b>Process Simulation Engineer</b>
			</div>
			<ul class="text-left">
				<li>Worked on a wide variety of projects ranging from Structural Analysis to CFD</li>
				<li>Developed GUIs for models</li>
				<li>Automated complex multi-step processes</li>
				<li>Created models using COMSOL, ANSYS, Polyflow and FLUENT</li>
				<li>Wrote programs using MATLAB, Javascript, Python and Visual C#</li>
			</ul>
		</div>
	</div>
</div>