<div class="slide">
	<div class="layer layer-bg">
		<div class="bg" style="background-image: url(assets/bg/campusamp-blur.png)"></div>
	</div>
	<div class="layer layer-2">
		<div class="slide-heading">Work History</div>
	</div>
	<div class="layer layer-6">
		<div class="content-box text-center">
			<img src="assets/images/campusamp.png" style="max-width: 80vw" />
			<div class="heading font-size-24">
				October 2010 to Present
			</div>
			<div class="heading font-size-32">
				<b>VP of Technology</b>
			</div>
			<ul>
				<li>Founded a startup company</li>
				<li>Developed a website for campus organization event ticketing (<a href="https://campusamp.com" target="_blank">campusamp.com</a>)</li>
				<li>Created a REST API backend using Node.JS, MongoDB, and MySQL</li>
				<li>Developed a payment system to interface with PayPal and Stripe</li>
				<li>Managed the website’s Amazon AWS Linux instance</li>
				<li>Developed mobile apps for iOS and Android</li>
			</ul>
		</div>
	</div>
</div>