<div id="work-tapad" class="slide">
	<div class="layer layer-bg">
		<div class="bg" style="background-image: url(assets/bg/tapad.jpg)"></div>
	</div>
	<div class="layer layer-2">
		<div class="slide-heading">Work History</div>
	</div>
	<div class="layer layer-6">
		<div class="content-box content-box-light text-center">
			<img src="assets/images/tapad.png" style="max-width: 80vw" />
			<div class="heading font-size-24">
				January 2014 to Present
			</div>
			<div class="heading font-size-32">
				<b>Frontend Engineer</b>
			</div>
			Front-end web development using AngularJS, jQuery, D3.js, LESS, and gulp.

			<div>
				<br/>
				<div class="heading font-size-24"><b>Open Source Projects</b></div>
				<ul class="text-left inline">
					<li><a href="https://github.com/Tapad/gulp-angular-builder" target="_blank">gulp-angular-builder</a></li>
					<li><a href="https://github.com/Tapad/gulp-less-variables" target="_blank">gulp-less-variables</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>